$borderStyle: 1px solid rgb(145, 145, 145);

.movies {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
  flex-grow: 1;
  grid-gap: 40px;
  padding: 70px 0 50px;
  border-bottom: $borderStyle;
  border-top: $borderStyle;

  &__title {
    position: absolute;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    text-align: center;
    padding: 5px 0;
    width: 150px;
    transform: translateY(-100%);
    left: 50px;
    cursor: pointer;

    &--user-search {
      left: 199px;
    }

    &--current-page {
      cursor: auto;
      border: 1px solid rgb(0, 0, 0);
      border-bottom-color: white;
      background-color: white;
    }
  }
  
  &__page-info {
    position: absolute;
    font-size: 13px;
    bottom: -25px;
    right: 10px;
  }
}
