.movie {
  display: flex;
  gap: 30px;
  height: 100%;
  transition: .5s;

  &__promo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & span {
      font-size: 20px;
      text-shadow: 2px 2px 5px rgb(255, 255, 255);
      align-self: flex-end;
      margin-right: 30px;
    }

    & img {
      max-width: 250px;
      width: auto;
      border-radius: 5px;
      border: 1px solid rgb(255, 255, 255);
      box-shadow: 0 0 10px black;
    }
  }

  &__buy-button {
    font-size: 20px;
    margin: 0 10px;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: rgba(94, 255, 0, 0.461);


    &--disabled {
      background-color: rgba(255, 0, 0, 0.461);
      pointer-events: none;
    }
  }

  &__further-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    gap: 10px;
  }

  &__about {
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-grow: 1;
  }

  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border-top-left-radius: 0;
    gap: 10px;
    border: 1px solid rgb(255, 255, 255);
  }

  &__title {
  }

  &__overview {
    height: 100px;
    overflow: scroll;
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;

    & ul {
      display: flex;
      flex-wrap: wrap;
      align-self: center;
      margin-left: 10px;
      gap: 10px;
    }
  }

  &__genre {
    cursor: pointer;

    &:hover {
      color: grey;
    }

    &:active {
      color: rgb(115, 150, 112);
    }
  }

  &__comments {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 3px 7px;
    bottom: 10px;
    right: 10px;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
