* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  min-width: 700px;
  max-width: 1920px;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 40px 20px;
}
